<!DOCTYPE html>
<html>
<head>
<title>PyNotes - Personal Notes</title>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light navbar-fixed">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a class="navbar-brand" href="/">
          <i class="fas fa-cloud" style="color: #339AF0;"></i>
           PyNotes
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="navbar-right">
            <a href="../accounts/login" class="btn btn-light text-primary"><i class="fas fa-user-circle"></i> Войти</a>
        </li>
    </ul>
  </div>
</nav>
<div class="container" style="margin-bottom:100px;padding-top:50px">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Registration</h2>
            <hr>
            {% if not user.is_authenticated %}
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}

                {% if form.errors %}
                <p class="text-danger">Пользователь с таким именем уже существует или пароль был недостаточно надежен.</p>
                {% endif %}
                
                <label for="username">Username</label>
                <p>{{ form.username }}</p>
                <label for="password1">Password</label>
                <p>{{ form.password1 }}</p>
                <label for="password2">Confirm password</label>
                <p>{{ form.password2 }}</p>
                <input type="submit" value="Submit" class="btn btn-success form-control" >
            </form>
            {% else %}
              <h4>Вы уже в системе</h4>
              <a href="../notes">Перейти к моим записям</a>
            {% endif %}
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<footer class="bg-white pb-5">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0">&copy; Copyrights CMD50 All rights reserved.</p>
  </div>
</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script> 
    $(document).ready(function(){
      $("input[name='username']").addClass('form-control');
      $("input[name='password1']").addClass('form-control');
      $("input[name='password2']").addClass('form-control');
    });
</script>
</html>