{% extends "notes/_layout.html" %}
{% load static %}

{% block content %}
<style>
    .fx-col{
        padding:20px;
        border-radius:15px;
        color:white;
        margin-bottom:10px;
    }
    #editor-container{
        width:100%;
        min-height:500px;
        height:auto;
        border: 3px solid rgba(0,0,0,.5);
        font-size:20px;
    }
    .ql-toolbar{
        border: 3px solid rgba(0,0,0,.5) !important;
        border-bottom: none !important;
    }
</style>
<div class="container-fluid" style="padding-top:20px;padding-bottom:50px;">
    {% with notes|first as note %}
    <h1>Category: {{note.category}}</h1>
    {% endwith %}
    {% if not notes%}
        <h1>No notes :(</h1>
    {% endif %}
    <hr>
    <div id="form-container" class="container-fluid">
        <form>
            <p style="margin-bottom:20px; width:100%; margin-left:-15px">
                <a href="/notes" class="btn btn-primary"><i class="fas fa-arrow-circle-left"></i> Вернуться</a>
                <button class="btn btn-success" type="submit">Save</button>
            </p>
            <div class="row form-group">
                <input name="about" type="hidden">
                <div id="editor-container"></div>
            </div>
        </form>
    </div>
    <!-- <div class="row">
        {% for note in notes %}
            <div class="col-md-12 fx-col bg-dark">
                <div class="bg-warning" style="margin-top:-10px;">
                    <a href="#" style="font-size:30px" class="btn-link text-danger pull-right mr-2"><i class="fas fa-minus-square"></i></a>
                    <a href="#" style="font-size:30px" class="btn-link text-primary pull-right mr-2"><i class="fas fa-pen-square"></i></a>
                </div>
                <h3>{{ note.title }}</h3>
                <hr>
                <h6>{{ note.text }}</h6>
            </div>
        {% endfor %}
    </div> -->
</div>
{% endblock %}